.codeblock-tools {
  display: flex;
  background-color: #f5f5f5;
  gap: .5rem;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 10px;
  height: 22px;
  box-sizing: border-box;
  border-radius: 4px;
}

.tools-icon {
  display: flex;
  align-items: center;
  width: 22px;
  height: 22px;
  border-radius: 3px;
  padding: 3px;
  position: relative;
  font-size: 16px;
  line-height: normal;
  box-sizing: border-box;
  border: none;
  background: rgba(0, 0, 0, 0);
}

.tools-icon svg {
  height: 100%;
  width: 100%;
  vertical-align: middle;
}

.tools-button-lang {
  -webkit-user-select: none;
  user-select: none;
}

.tools-button-theme, .tools-button-copy {
  cursor: pointer;
}

.codeblock-tools [data-title]::before {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0);
  border-width: 6px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgb(105, 115, 138);
  border-image: initial;
  z-index: 1002;
  margin-top: -12px;
  margin-right: -6px;
}

.codeblock-tools [data-title]::after {
  content: attr(data-title);
  background: rgb(105, 115, 138);
  color: rgb(255, 255, 255);
  padding: 8px 10px;
  font-size: 12px;
  line-height: 12px;
  white-space: nowrap;
  margin-right: -18px;
  border-radius: 2px;
}

.codeblock-tools [data-title]::before,
.codeblock-tools [data-title]::after {
  position: absolute;
  transform: translate3d(0px, 0px, 0px);
  display: none;
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 1001;
  pointer-events: none;
  top: 110%;
  right: 50%;
}

.codeblock-tools:not(.show-theme-options) [data-title]:hover:not(:active)::before,
.codeblock-tools:not(.show-theme-options) [data-title]:hover:not(:active)::after {
  display: block;
  opacity: 1;
}

.codeblock-container {
  position: relative;
}

.codeblock-container .toolbar-hover {
  opacity: 0;
  transition: opacity 0.3s;
}

.codeblock-container:hover .toolbar-hover {
  opacity: 1;
}

.tools-message {
  flex: 1;
  color: #24292e;
  justify-content: center;
  text-align: center;
  display: flex;
  font-size: 0.75rem;
  width: auto;
  height: 100%;
  line-height: 22px;
  border-radius: 4px;
  background-color: #f6f8fa;
}

.tools-message-icon {
  padding: 5px;
}

.tools-message.hidden .tools-message-icon {
  color: transparent;
}

.tools-message:not(.hidden) .tools-message-icon {
  color: #00b96b;
}

.tools-message-notice.show {
  animation-name: MessageMoveIn;
  animation-duration: .3s
}

@keyframes MessageMoveIn {
  0% {
    opacity: 0;
    max-height: 0;
  }

  to {
    opacity: 1;
    max-height: 24px;
  }
}

.tools-message-content {
  -webkit-user-select: none;
  user-select: none;
  font-size: 0.75rem;
}

.select-items {
  position: absolute;
  top: -999px;
  right: 0;
  left: auto;
  z-index: 99;
  line-height: 1.5em;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .15);
  display: flex;
  flex-direction: column;
  max-height: 245px;
  overflow-y: auto;
  overflow-x: hidden;
}

.options-item {
  color: #585a5a;
  cursor: pointer;
  font-weight: 400;
  line-height: 22px;
  display: block;
  position: relative;
  padding: 4px 8px;
}

.options-item .select-item-content {
  padding: 5px 8px 5px 18px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  vertical-align: middle;
  display: inline-block;
  -webkit-user-select: none;
  user-select: none;
}

.selected-item .select-item-content {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPjxkZWZzPjxwYXRoIGlkPSJhIiBkPSJNMCAwaDEydjE2SDB6Ii8+PC9kZWZzPjxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+PG1hc2sgaWQ9ImIiIGZpbGw9IiNmZmYiPjx1c2UgeGxpbms6aHJlZj0iI2EiLz48L21hc2s+PHBhdGggc3Ryb2tlPSIjNTk1OTU5IiBzdHJva2Utd2lkdGg9IjEuMzc1IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIG1hc2s9InVybCgjYikiIGQ9Im0xLjY4OCA3Ljg2MSA0LjMwMiA0LjI2NCA4LjMyMy04LjI1Ii8+PC9nPjwvc3ZnPg==);
  background-position: 0;
  background-repeat: no-repeat;
}

.options-item:hover {
  background-color: #f6f8fa;
  color: #24292e;
}

#zenuml-intersection-detector-container {
  display: none;
}
